:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.image-container > .VPImage {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
}

@keyframes jack-in-the-box {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  70% {
    transform: translate(-50%, -50%) rotate(3deg);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}